@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <p>SISTEMA DE VENTA <a href="https://www.instagram.com/somosiphone1?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="> SOMOS IPHONE</a></p>
</div>
